/* Navbar.module.css */
@keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveGradient {
  0% {
    background-position: left center;
  }
  100% {
    background-position: right center;
  }
}

/* Spark movement */
@keyframes sparkMove {
  0% {
    right: 0;
    opacity: 0.9;
  }
  100% {
    right: 100%;
    opacity: 0;
  }
}

/* Spark flicker effect */
@keyframes flicker {
  0% {
    opacity: 1;
    box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff;
  }
  100% {
    opacity: 0.4;
    box-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff;
  }
}

.verticalLine {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  height: 30px;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    #ffffff 40%,
    #00ffff 50%,
    #ffffff 60%,
    transparent 100%
  );
  box-shadow: 0 0 8px #00ffff, 0 0 12px #00ffff;
  animation: sparkMove 2s linear infinite;
  z-index: 1;
  pointer-events: none;
  overflow: visible;
}

/* Add star.gif as spark tip */
.verticalLine::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background-image: url("https://img.freepik.com/free-photo/christmas-background-with-sparkle-snowflake-design_1048-11346.jpg?semt=ais_hybrid&w=740&q=80");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: flicker 1s infinite alternate;
}

.animatedText {
  color: #ffffff;
  font-size: 1rem;
  padding: 3px 15px;
  border-radius: 20px;
  font-weight: 600;
}

.icon {
  border: 6px solid #2b2b2bb2;
  background-color: #0099ff;
  color: #fff;
}

.icon::before {
  content: "";
  width: 15px;
  height: 11px;
  background-color: transparent;
  position: absolute;
  left: -10px;
  bottom: -9px;
  border-top-right-radius: 20px;
  box-shadow: 0px -6px 0 0 #2b2b2b00;
}

.icon::after {
  content: "";
  width: 15px;
  height: 11px;
  background-color: transparent;
  position: absolute;
  right: -10px;
  bottom: -9px;
  border-top-left-radius: 20px;
  box-shadow: 0px -6px 0 0 #2b2b2b00;
}
