* {
  margin: 0;
  padding: 0;
}

.ripple-container {
  height: 100vh;
  position: relative;
  cursor: pointer;
}
.ripple {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;

  top: 0;
  left: 0;
  /* background: red; */
}
.ripple span {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  background: rgba(231, 76, 60, 0.5);
  animation: ripple-animation 0.5s linear;
}
@keyframes ripple-animation {
  to {
    transform: scale(2);
    opacity: 0;
  }
}