@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .slider-wrapper {
    @apply lg:h-dvh min-h-dvh md:min-h-fit w-full mt-0 md:mt-20 xl:mt-0;

    .flavors {
      @apply h-full w-full flex md:flex-row flex-col items-center 2xl:gap-72 lg:gap-52 md:gap-24 gap-7 flex-nowrap;

      .drinks {
        @apply absolute left-1/2 -translate-x-1/2 bottom-0 md:h-full h-80;
      }

      .elements {
        @apply absolute md:top-0 md:bottom-auto bottom-10 w-full;
      }

      h1 {
        @apply absolute md:bottom-10 md:left-10 bottom-5 left-5 text-white md:text-6xl text-3xl font-semibold uppercase tracking-tighter;
      }
    }
  }
}
