@tailwind base;
@tailwind components;
@tailwind utilities;

.perspective {
  perspective: 1500px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.rotateY-180 {
  transform: rotateY(180deg);
}

@keyframes flow-vertical {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.animate-flow-vertical {
  animation: flow-vertical 3s linear infinite;
}

@keyframes lineMove {
  0% {
    left: 0%;
  }

  100% {
    left: 100%;
  }
}

.animate-lineMove {
  animation: lineMove 4s linear infinite;
  position: absolute;
}

@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }
}

.animate-zoomInOut {
  animation: zoomInOut 4s ease-in-out infinite;
}

.tilted-card-figure {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tilted-card-mobile-alert {
  position: absolute;
  top: 1rem;
  text-align: center;
  font-size: 0.875rem;
  display: none;
}

@media (max-width: 640px) {
  .tilted-card-mobile-alert {
    display: block;
  }

  .tilted-card-caption {
    display: none;
  }
}

.tilted-card-inner {
  position: relative;
  transform-style: preserve-3d;
}

.tilted-card-img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 15px;
  will-change: transform;
  transform: translateZ(0);
}

.tilted-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  will-change: transform;
  transform: translateZ(30px);
}

.tilted-card-caption {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4px;
  background-color: #fff;
  padding: 4px 10px;
  font-size: 10px;
  color: #2d2d2d;
  opacity: 0;
  z-index: 3;
}
@layer components {
  .slider-wrapper {
    @apply lg:h-dvh min-h-dvh md:min-h-fit w-full mt-0 md:mt-20 xl:mt-0;

    .flavors {
      @apply h-full w-full items-center gap-16;
      @apply flex-col sm:flex-row sm:flex-nowrap;
      @apply 2xl:gap-72 lg:gap-52 md:gap-24;
    }

    .drinks {
      @apply relative w-full h-auto object-contain;
      @apply sm:absolute sm:left-1/2 sm:-translate-x-1/2 sm:bottom-0 sm:h-full;
    }

    .elements {
      @apply absolute md:top-0 md:bottom-auto bottom-10 w-full;
    }

    h1 {
      @apply absolute md:bottom-10 md:left-10 bottom-5 left-5 text-white md:text-6xl text-3xl font-semibold uppercase tracking-tighter;
    }
  }
}
